<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>NSRecentDocuments</key>
    <array>
	<string>file://localhost/home/raylex01/Downloads/RaymondAguilar_3_methodmadness_essay.pdf</string>
    </array>
</dict>
</plist>